<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-top:1px;">
    <div id="wrapper" height="100%">
        <table width="100%" height="100%">
            <tr>
                <td colspan="2" height="100%">
                    <div class="navbar navbar-inverse navbar-fixed-left">
                        <div class="navbar-header" align="left">
                            @*<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>*@
                            <ul>
                                <li> @Html.ActionLink("Stackoverflow", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>

                            </ul>

                        </div><div style="padding-right:50px;vertical-align:middle;padding-top:10px;"><a style="float:right" href="/SignIn/SignOut">Sign Out</a></div>
                        <div class="navbar-nav" align="right" style="vertical-align:middle;padding-top:10px;">
                            <ul>
                                <li>
                                    @Html.TextBox("search")
                                    @*<input type="submit" name="submit" value="Search" />*@
                                    <input type="button" value="Search" onclick="location.href='@Url.Action("QuestionList", "QuestionInfo")?searchvalue=' + document.getElementById('search').value" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>

            </tr>
            <tr>
                <td width="10%" valign="top" height="100%" class="nav navbar-inverse lead">
                    <div class="navbar-default">
                        <div class="nav navbar-inverse navbar-brand lead">
                            <ul>
                                <li> @Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                                @if (((User)Session["User"]) != null)
                                {
                                    <li> @Html.ActionLink("MyProfile", "ProfileInfo", "ProfileInfo", new { UserId = ((User)Session["User"]).UserId }, null) </li>
                                }
                                <li>@Html.ActionLink("Tags", "List", "Tags")</li>
                                <li>@Html.ActionLink("Users", "List", "Users")</li>
                                <li>@Html.ActionLink("MyEntries", "QuestionListByUSer", "QuestionInfo")</li>
                                <li>@Html.ActionLink("AskQuestion", "AskQuestion", "QuestionInfo")</li>
                                <li>@Html.ActionLink("Questions", "QuestionList", "QuestionInfo", new { TagId = 0 }, new { @class = "" })</li>

                            </ul>
                        </div>
                    </div>
                </td>
                <td height="100%">
                    <div id="page-content-wrapper" class="body-content" height="100%">
                        @RenderBody()

                        <footer>
                            <p>&copy; My Stackoverflow</p>
                        </footer>
                    </div>
                </td>
            </tr>

        </table>

        <!-- Sidebar -->
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <!-- /#page-content-wrapper -->
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
